default:
  image:
    name: rust:latest

variables:
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cargo/bin
    - .cargo/registry/index
    - .cargo/registry/cache
    - target/debug/deps
    - target/debug/build
  policy: pull-push

stages:
  - test

lint:
  stage: test
  script:
    - rustup component add clippy
    - cargo clippy --all --all-targets --all-features
    - cargo clippy --all --all-targets --no-default-features

test:
  stage: test
  script:
    - cargo test --workspace --all-targets
    - cargo test --workspace --doc
    - cargo test --workspace --all-targets --no-default-features
    - cargo test --workspace --doc --no-default-features
